html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#controls {
  position: absolute;
  background-color: red;
  z-index: 1000;
}

#controls > button {


}

#map {
  height: 100%;
  position: relative;
}
