html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#title {
  position: absolute;
  z-index: 1000;
  background-color: rgb(16, 32, 76);
  color: #FFF;
  padding: .4rem 1rem;
  left: 2rem;
  margin-top: 2rem;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.14),
              0 1px 7px 0 rgba(0,0,0,0.12),
              0 3px 1px -1px rgba(0,0,0,0.2);
}

#controls {
  position: absolute;
  z-index: 1000;
  top: 2rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
}

#controls > button {
  background-color: #d42039;
  margin-bottom: 1rem;
}

#map {
  height: 100%;
  position: relative;
}

@media (max-width: 450px) {
  #title {
    position: relative;
    width: 100%;
    text-align: center;
    left: 0rem;
    margin: 0rem;
  }

  #controls {
    top: 20%;
    right: 1rem;
  }

  @media (max-width: 400px) {
    #title {
      font-size: 3rem;
    }
  }
}
